.header {
  display: flex; /*дозволяє розміщувати елементи з обох боків (логотип та іконки навігації*/
  justify-content: space-between;
  padding: 20px 40px;
  margin: 25px;
}

.navIcons {
  display: flex; /*вирівняні по горизонталі*/
  align-items: baseline;
  gap: 15px;
  font-size: 17px;
}

.navIcons a {
  text-decoration: none;
  color: black;
}

.navIcons a:visited {
  color: black; /* Залишається чорним навіть після відвідування */
}

.navIcons a:hover {
  color: rgb(176, 176, 176);
  cursor: pointer;
}

.logo {
  text-align: center;
  transition: transform 0.4s ease; /*зміни трансформації виконувались плавно протягом 0.4 секунд.*/
  display: inline-block; /* Щоб можна було анімувати трансформації */
  font-size: 150px;
}

.logo:hover {
  transform: translateY(-5px);
}
